#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* Asegúrate de que el cuerpo ocupe toda la altura de la pantalla */
  display: flex; /*nso ayuda a colocarlo como padre*/
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  overflow-x: hidden; /* Evita el scroll horizontal innecesario */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.card {
  width: 300px;
  background-color: white;
  border-radius-bottom: 15px; /* Ajuste para bordes redondeados */
  box-shadow: 0 20px 20px -10px hsla(0, 0%, 0%, 0.302);
  overflow: hidden; /* Para que la imagen no sobresalga de los bordes */
  text-align: center;
}
.card-title {
  color: hsl(223, 47%, 23%);
  font-weight: 800;
  margin-top: 20px; /* Ajusta el margen superior */
}
.card-text{
  color: var(--color-neutral-desaturated-blue);
}
.card-image {
  width: 100%;  /* La imagen ocupará todo el ancho de la tarjeta */
  height: 150px; /* Fija una altura deseada */
  object-fit: cover; /* Hace que la imagen cubra el contenedor manteniendo la proporción */
  border-top-left-radius: 15px; /* Bordes redondeados en la parte superior */
  border-top-right-radius: 15px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 200px;
  }
  .card-image {
    height: 130px; /* Fija una altura deseada */
    object-fit: cover; /* Hace que la imagen cubra el contenedor manteniendo la proporción */
    border-top-left-radius: 15px; /* Bordes redondeados en la parte superior */
    border-top-right-radius: 15px;
  }
}
.card {
  padding: 2em;
}


