body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--color-primary-pale-blue);
  width: 100%;
  height: 100vh; /* Hace que ocupe toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:  url('C:\MAKE IT REAL DOCS\proyect-react\proyect.react\src\components\img\pattern-background-desktop.svg'); /* Añade la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene la imagen fija mientras se hace scroll */

}

:root {
  /* Primary Colors */
  --color-primary-pale-blue: hsl(225, 100%, 94%);
  --color-primary-bright-blue: hsl(245, 75%, 52%);

  /* Neutral Colors */
  --color-neutral-very-pale-blue: hsl(225, 100%, 98%);
  --color-neutral-desaturated-blue: hsl(224, 23%, 55%);
  --color-neutral-dark-blue: hsl(223, 47%, 23%);
}
